<html>

<head>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css' rel='stylesheet' />

  <!-- <script src="https://unpkg.com/maplibre-gl@next/dist/maplibre-gl.js"></script>
  <link href="https://unpkg.com/maplibre-gl@next/dist/maplibre-gl.css" rel="stylesheet" /> -->

  <script src="https://unpkg.com/vue@2"></script>
  <!-- <script src="https://unpkg.com/vue@next"></script> -->

  <script src="./dist/main.js"></script>

  <title>Vue-MapX Demo page</title>
  <link rel="shortcut icon" href="#">
</head>

<body>
  <div id="app"></div>
</body>

<script type="text/javascript">
  Vue.use(VueMapX.default, mapboxgl, 'pk.eyJ1IjoibWFicmVuYWMiLCJhIjoiY2sxbm1ueWhjMDd6aTNvcWZhNWVzejEyZiJ9.y6D5gNxGbMDJnzd0CSW9xQ');

  const app = new Vue({
    el: '#app',
    template: `<div>
      <button @click=" mapOn = !mapOn">{{mapOn ? 'hide': 'display'}} map</button>
      <button @click=" sourceOn = !sourceOn">{{sourceOn ? 'hide': 'display'}} source</button>
      <section class="mpx-map-wrapper">
        <mx-map v-bind="map"
        @load="debug" 
        @mousemove="pointerPosition = getElevation($event)"
        @dragend="debug"
      @contextmenu="addWaypoint"
      v-if="mapOn"
      >
        <template #loader>{{ message }}</template>

        <mx-source id="flight" :data="geoJSON" type="geojson" v-if="sourceOn">
          <mx-layer v-bind="line" id="route" @click="line.paint['line-color'] = randomColor()"/>
          <mx-layer v-bind="lineText" id="route-label"/>
          <mx-layer v-bind="symbol" id="point"/>
          <mx-layer v-bind="polygon" id="area"/>
        </mx-source>
        
        <mx-layer v-bind="sky"/>
        
        <mx-i-control position="top-left">
          <span>{{message}}</span>
          <div>{{  pointerPosition }} m</div>
        </mx-i-control>
        
        <mx-navigation-control visualizePitch/>
        
        <mx-style v-bind="style"/>
        
        <mx-marker v-bind="marker" @update:lngLat="marker.lngLat = $event" @dragend="debug">
          <mx-popup v-bind="popup">{{ message }}</mx-popup>
        </mx-marker>
        
        <mx-popup v-bind="popup">{{ message }}</mx-popup>
        <mx-popup v-bind="tooltip">{{  pointerPosition }}</mx-popup>
        
        <mx-attribution-control :customAttribution="message"/>
        <mx-scale-control v-bind="scale" />
        <mx-fullscreen-control/>
        <mx-geolocate-control/>
      </mx-map>
    </section>
  </div>`,
    data() {
      return {
        mapOn: true,
        sourceOn: true,
        layerOn: true,
        message: 'Hello VueMapX!',
        pointerPosition: undefined,
        map: {
          testMode: true,
          attributionControl: false,
          // using `mapStyle` for `style` because it is a reserved word. others properties names are preserved
          mapStyle: 'mapbox://styles/mapbox/streets-v11',
          center: [
            9.206542,
            41.34382
          ],
          zoom: 5
        },
        marker: {
          draggable: true,
          color: 'red',
          lngLat: {
            lat: 40.7184,
            lng: 5.38447
          }
        },
        scale: {
          unit: 'nautical',
          position: 'bottom-left'
        },
        popup: {
          offset: 15,
          lngLat: {
            lat: 40.758444,
            lng: 5.3844747
          }
        },
        tooltip: {
          closeButton: false,
          trackPointer: true
        },
        style: {
          light: {
            anchor: 'viewport',
            color: 'white',
            intensity: 0.4
          },
          terrain: {
            "source": {
              'type': 'raster-dem',
              'url': 'mapbox://mapbox.mapbox-terrain-dem-v1',
              'tileSize': 512,
              'maxzoom': 14
            },
            "exaggeration": 2
          },
          fog: {
            "range": [-0.5, 3],
            "color": "white",
            "horizon-blend": 0.1
          }
        },
        // https://docs.mapbox.com/mapbox-gl-js/example/atmospheric-sky/
        sky: {
          'id': 'sky',
          'type': 'sky',
          'paint': {
            'sky-opacity': [
              'interpolate',
              ['linear'],
              ['zoom'],
              0,
              0,
              5,
              0.3,
              8,
              1
            ],
            'sky-type': 'atmosphere',
            'sky-atmosphere-sun': [180, 30],
            'sky-atmosphere-sun-intensity': 5
          }
        },
        geoJSON: {
          "type": "FeatureCollection",
          "features": [
            {
              "type": "Feature",
              "properties": { name: "the is the route" },
              "geometry": {
                "type": "LineString",
                "coordinates": [
                  [
                    5.2734375,
                    43.35713822211053
                  ],
                  [
                    -0.3076171875,
                    39.470125122358176
                  ],
                  [
                    3.0322265625,
                    36.80928470205937
                  ],
                  [
                    13.447265624999998,
                    38.272688535980976
                  ]
                ]
              }
            },
            {
              "type": "Feature",
              "properties": { name: 'Alpha' },
              "geometry": {
                "type": "Point",
                "coordinates": [
                  8.701171874999998,
                  42.06560675405716
                ]
              }
            },
            {
              "type": "Feature",
              "properties": { name: 'Papa' },
              "geometry": {
                "type": "Point",
                "coordinates": [
                  2.63671875,
                  39.639537564366684
                ]
              }
            },
            {
              "type": "Feature",
              "properties": { name: 'Romeo' },
              "geometry": {
                "type": "Point",
                "coordinates": [
                  12.480468749999998,
                  41.86956082699455
                ]
              }
            },
            {
              "type": "Feature",
              "properties": {},
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      9.20654296875,
                      41.343824581185686
                    ],
                    [
                      7.9541015625,
                      40.93011520598305
                    ],
                    [
                      8.26171875,
                      38.976492485539396
                    ],
                    [
                      8.72314453125,
                      38.75408327579141
                    ],
                    [
                      9.55810546875,
                      39.13006024213511
                    ],
                    [
                      9.909667968749998,
                      40.58058466412761
                    ],
                    [
                      9.20654296875,
                      41.343824581185686
                    ]
                  ]
                ]
              }
            }
          ]
        },
        line: {
          'type': 'line',
          filter: ['==', ['geometry-type'], "LineString"],
          'layout': {
            'line-join': 'round',
            'line-cap': 'round'
          },
          'paint': {
            'line-color': '#888',
            'line-width': 8
          }
        },
        lineText: {
          'type': 'symbol',
          filter: ['==', ['geometry-type'], "LineString"],
          "layout": {
            "symbol-placement": "line",
            'text-variable-anchor': ['top', 'bottom', 'left', 'right'],
            'text-field': ['get', 'name'],
            "text-size": 32
          },
        },
        symbol: {
          'type': 'symbol',
          filter: ["==", ["geometry-type"], "Point"],
          'layout': {
            'icon-image': 'tw-provincial-expy-3',
            'text-field': ['get', 'name'],
            'text-offset': [0, 1.25],
            'text-anchor': 'top'
          }
        },
        polygon: {
          'type': 'fill',
          filter: ['==', ['geometry-type'], "Polygon"],
          'layout': {},
          'paint': {
            'fill-color': '#0080ff',
            'fill-opacity': 0.5
          }
        }
      }
    },
    methods: {
      debug: console.debug,
      randomColor() {
        return `hsl(${(360 * Math.random())},50%,50%)`
      },
      getElevation({ target, lngLat }) {
        return Math.round(target.queryTerrainElevation(lngLat));
      },
      addWaypoint({ lngLat }) {
        this.geoJSON.features[0].geometry.coordinates.push([lngLat.lng, lngLat.lat]);
      }
    }
  })
</script>

</html>